[data-theme="a11y-dark"] {
  --jtree-bg: #2b2b2b;
  --jtree-fg: #f8f8f2;
  --jtree-attr: #ffd700;
  --jtree-keyword: #dcc6e0;
  --jtree-number: #f5ab35;
  --jtree-punctuation: #f8f8f2;
  --jtree-string: #abe338;
  --jtree-highlight: #00e0e0;
}
