[data-theme="androidstudio"] {
  --jtree-bg: #282b2e;
  --jtree-fg: #a9b7c6;
  --jtree-attr: #6A8759;
  --jtree-keyword: #cc7832;
  --jtree-number: #6897BB;
  --jtree-punctuation: #a9b7c6;
  --jtree-string: #6A8759;
  --jtree-highlight: #ffc66d;
}
