[data-theme="apathy"] {
  --jtree-bg: #031A16;
  --jtree-fg: #81B5AC;
  --jtree-attr: #96883E;
  --jtree-keyword: #4C963E;
  --jtree-number: #3E7996;
  --jtree-punctuation: #81B5AC;
  --jtree-string: #883E96;
  --jtree-highlight: #3E4C96;
}
