[data-highlight="arta"] {
  --jtree-bg: #222;
  --jtree-fg: #aaa;
  --jtree-attr: #32aaee;
  --jtree-keyword: #6644aa;
  --jtree-number: #00cc66;
  --jtree-punctuation: #aaa;
  --jtree-string: #ffcc33;
  --jtree-highlight: #bb1166;
}
