[data-theme="atelier-savanna-light"] {
  --jtree-bg: #ecf4ee;
  --jtree-fg: #526057;
  --jtree-attr: #478c90;
  --jtree-keyword: #55859b;
  --jtree-number: #9f713c;
  --jtree-punctuation: #526057;
  --jtree-string: #489963;
  --jtree-highlight: #a07e3b;
}
