[data-highlight="atelier-forest"] {
  --jtree-bg: #1b1918;
  --jtree-fg: #a8a19f;
  --jtree-attr: #407ee7;
  --jtree-keyword: #6666ea;
  --jtree-number: #df5320;
  --jtree-punctuation: #a8a19f;
  --jtree-string: #7b9726;
  --jtree-highlight: #c38418;
}
