[data-theme="atelier-cave"] {
  --jtree-bg: #19171c;
  --jtree-fg: #8b8792;
  --jtree-attr: #576ddb;
  --jtree-keyword: #955ae7;
  --jtree-number: #aa573c;
  --jtree-punctuation: #8b8792;
  --jtree-string: #2a9292;
  --jtree-highlight: #a06e3b;
}
