[data-theme="atelier-sulphurpool-light"] {
  --jtree-bg: #f5f7ff;
  --jtree-fg: #5e6687;
  --jtree-attr: #3d8fd1;
  --jtree-keyword: #6679cc;
  --jtree-number: #c76b29;
  --jtree-punctuation: #5e6687;
  --jtree-string: #ac9739;
  --jtree-highlight: #c08b30;
}
