[data-highlight="atelier-forest-light"] {
  --jtree-bg: #f1efee;
  --jtree-fg: #68615e;
  --jtree-attr: #407ee7;
  --jtree-keyword: #6666ea;
  --jtree-number: #df5320;
  --jtree-punctuation: #68615e;
  --jtree-string: #7b9726;
  --jtree-highlight: #c38418;
}
