[data-theme="atlas"] {
  --jtree-bg: #002635;
  --jtree-fg: #a1a19a;
  --jtree-attr: #5dd7b9;
  --jtree-keyword: #9a70a4;
  --jtree-number: #f08e48;
  --jtree-punctuation: #a1a19a;
  --jtree-string: #7fc06e;
  --jtree-highlight: #ffcc1b;
}
