[data-theme="black-metal-mayhem"] {
  --jtree-bg: #000000;
  --jtree-fg: #c1c1c1;
  --jtree-attr: #888888;
  --jtree-keyword: #999999;
  --jtree-number: #aaaaaa;
  --jtree-punctuation: #c1c1c1;
  --jtree-string: #f3ecd4;
  --jtree-highlight: #eecc6c;
}
