[data-highlight="bright"] {
  --jtree-bg: #000000;
  --jtree-fg: #e0e0e0;
  --jtree-attr: #6fb3d2;
  --jtree-keyword: #d381c3;
  --jtree-number: #fc6d24;
  --jtree-punctuation: #e0e0e0;
  --jtree-string: #a1c659;
  --jtree-highlight: #fda331;
}
