[data-highlight="codeschool"] {
  --jtree-bg: #232c31;
  --jtree-fg: #9ea7a6;
  --jtree-attr: #484d79;
  --jtree-keyword: #c59820;
  --jtree-number: #43820d;
  --jtree-punctuation: #9ea7a6;
  --jtree-string: #237986;
  --jtree-highlight: #a03b1e;
}
