[data-theme="dark-violet"] {
  --jtree-bg: #000000;
  --jtree-fg: #b08ae6;
  --jtree-attr: #4136d9;
  --jtree-keyword: #7e5ce6;
  --jtree-number: #bb66cc;
  --jtree-punctuation: #b08ae6;
  --jtree-string: #4595e6;
  --jtree-highlight: #f29df2;
}
