[data-highlight="darkmoss"] {
  --jtree-bg: #171e1f;
  --jtree-fg: #c7c7a5;
  --jtree-attr: #498091;
  --jtree-keyword: #9bc0c8;
  --jtree-number: #e6db74;
  --jtree-punctuation: #c7c7a5;
  --jtree-string: #499180;
  --jtree-highlight: #fdb11f;
}
