[data-theme="default-dark"] {
  --jtree-bg: #181818;
  --jtree-fg: #d8d8d8;
  --jtree-attr: #7cafc2;
  --jtree-keyword: #ba8baf;
  --jtree-number: #dc9656;
  --jtree-punctuation: #d8d8d8;
  --jtree-string: #a1b56c;
  --jtree-highlight: #f7ca88;
}
