[data-theme="devibeans"] {
  --jtree-bg: #000000;
  --jtree-fg: #a39e9b;
  --jtree-attr: #ffd75f;
  --jtree-keyword: #64b5f6;
  --jtree-number: #ef5350;
  --jtree-punctuation: #a39e9b;
  --jtree-string: #558b2f;
  --jtree-highlight: #ff8700;
}
