[data-highlight="embers"] {
  --jtree-bg: #16130F;
  --jtree-fg: #A39A90;
  --jtree-attr: #6D5782;
  --jtree-keyword: #82576D;
  --jtree-number: #828257;
  --jtree-punctuation: #A39A90;
  --jtree-string: #57826D;
  --jtree-highlight: #6D8257;
}
