[data-theme="eva-dim"] {
  --jtree-bg: #2a3b4d;
  --jtree-fg: #9fa2a6;
  --jtree-attr: #1ae1dc;
  --jtree-keyword: #9c6cd3;
  --jtree-number: #ff9966;
  --jtree-punctuation: #9fa2a6;
  --jtree-string: #5de561;
  --jtree-highlight: #cfd05d;
}
