[data-highlight="felipec"] {
  --jtree-bg: #ffffff;
  --jtree-fg: #dedde4;
  --jtree-attr: #d991d2;
  --jtree-keyword: #5fb8f2;
  --jtree-number: #f09080;
  --jtree-punctuation: #ffbb7b;
  --jtree-string: #93e4a4;
  --jtree-highlight: #c4da7d;
}
