[data-highlight="flat"] {
  --jtree-bg: #2C3E50;
  --jtree-fg: #e0e0e0;
  --jtree-attr: #3498DB;
  --jtree-keyword: #9B59B6;
  --jtree-number: #E67E22;
  --jtree-punctuation: #e0e0e0;
  --jtree-string: #2ECC71;
  --jtree-highlight: #F1C40F;
}
