[data-theme="gml"] {
  --jtree-bg: #222222;
  --jtree-fg: #C0C0C0;
  --jtree-attr: #C0C0C0;
  --jtree-keyword: #FFB871;
  --jtree-number: #FF8080;
  --jtree-punctuation: #C0C0C0;
  --jtree-string: #FFFF00;
  --jtree-highlight: #C0C0C0;
}
