[data-theme="google-dark"] {
  --jtree-bg: #1d1f21;
  --jtree-fg: #c5c8c6;
  --jtree-attr: #3971ED;
  --jtree-keyword: #A36AC7;
  --jtree-number: #F96A38;
  --jtree-punctuation: #c5c8c6;
  --jtree-string: #198844;
  --jtree-highlight: #FBA922;
}
