[data-highlight="gruvbox-light-soft"] {
  --jtree-bg: #f2e5bc;
  --jtree-fg: #504945;
  --jtree-attr: #076678;
  --jtree-keyword: #8f3f71;
  --jtree-number: #af3a03;
  --jtree-punctuation: #504945;
  --jtree-string: #79740e;
  --jtree-highlight: #b57614;
}
