[data-theme="helios"] {
  --jtree-bg: #1d2021;
  --jtree-fg: #d5d5d5;
  --jtree-attr: #1e8bac;
  --jtree-keyword: #be4264;
  --jtree-number: #eb8413;
  --jtree-punctuation: #d5d5d5;
  --jtree-string: #88b92d;
  --jtree-highlight: #f19d1a;
}
