[data-theme="humanoid-dark"] {
  --jtree-bg: #232629;
  --jtree-fg: #f8f8f2;
  --jtree-attr: #00a6fb;
  --jtree-keyword: #f15ee3;
  --jtree-number: #ff9505;
  --jtree-punctuation: #f8f8f2;
  --jtree-string: #02d849;
  --jtree-highlight: #ffb627;
}
