[data-theme="humanoid-light"] {
  --jtree-bg: #f8f8f2;
  --jtree-fg: #232629;
  --jtree-attr: #0082c9;
  --jtree-keyword: #700f98;
  --jtree-number: #ff3d00;
  --jtree-punctuation: #232629;
  --jtree-string: #388e3c;
  --jtree-highlight: #ffb627;
}
