[data-highlight="kimber"] {
  --jtree-bg: #222222;
  --jtree-fg: #DEDEE7;
  --jtree-attr: #537C9C;
  --jtree-keyword: #86CACD;
  --jtree-number: #476C88;
  --jtree-punctuation: #DEDEE7;
  --jtree-string: #99C899;
  --jtree-highlight: #D8B56D;
}
