[data-highlight="kimbie-dark"] {
  --jtree-bg: #221a0f;
  --jtree-fg: #d3af86;
  --jtree-attr: #f06431;
  --jtree-keyword: #98676a;
  --jtree-number: #f79a32;
  --jtree-punctuation: #d3af86;
  --jtree-string: #889b4a;
  --jtree-highlight: #f06431;
}
