[data-theme="lightfair"] {
  --jtree-bg: #fff;
  --jtree-fg: #444;
  --jtree-attr: #000000;
  --jtree-keyword: #000000;
  --jtree-number: #4286f4;
  --jtree-punctuation: #444;
  --jtree-string: #4286f4;
  --jtree-highlight: #4286f4;
}
