[data-theme="macintosh"] {
  --jtree-bg: #000000;
  --jtree-fg: #c0c0c0;
  --jtree-attr: #0000d3;
  --jtree-keyword: #4700a5;
  --jtree-number: #ff6403;
  --jtree-punctuation: #c0c0c0;
  --jtree-string: #1fb714;
  --jtree-highlight: #fbf305;
}
