[data-highlight="magula"] {
  --jtree-bg: #ffffff;
  --jtree-fg: black;
  --jtree-attr: #050;
  --jtree-keyword: navy;
  --jtree-number: #800;
  --jtree-punctuation: black;
  --jtree-string: #050;
  --jtree-highlight: navy;
}
