[data-highlight="marrakesh"] {
  --jtree-bg: #201602;
  --jtree-fg: #948e48;
  --jtree-attr: #477ca1;
  --jtree-keyword: #8868b3;
  --jtree-number: #b36144;
  --jtree-punctuation: #948e48;
  --jtree-string: #18974e;
  --jtree-highlight: #a88339;
}
