[data-highlight="material-palenight"] {
  --jtree-bg: #292D3E;
  --jtree-fg: #959DCB;
  --jtree-attr: #82AAFF;
  --jtree-keyword: #C792EA;
  --jtree-number: #F78C6C;
  --jtree-punctuation: #959DCB;
  --jtree-string: #C3E88D;
  --jtree-highlight: #FFCB6B;
}
