[data-highlight="mellow-purple"] {
  --jtree-bg: #1e0528;
  --jtree-fg: #ffeeff;
  --jtree-attr: #550068;
  --jtree-keyword: #8991bb;
  --jtree-number: #aa00a3;
  --jtree-punctuation: #ffeeff;
  --jtree-string: #05cb0d;
  --jtree-highlight: #955ae7;
}
