[data-theme="monokai-sublime"] {
  --jtree-bg: #23241f;
  --jtree-fg: #f8f8f2;
  --jtree-attr: #66d9ef;
  --jtree-keyword: #f92672;
  --jtree-number: #ae81ff;
  --jtree-punctuation: #f8f8f2;
  --jtree-string: #e6db74;
  --jtree-highlight: #a6e22e;
}
