[data-highlight="nebula"] {
  --jtree-bg: #22273b;
  --jtree-fg: #a4a6a9;
  --jtree-attr: #4d6bb6;
  --jtree-keyword: #716cae;
  --jtree-number: #94929e;
  --jtree-punctuation: #a4a6a9;
  --jtree-string: #6562a8;
  --jtree-highlight: #4f9062;
}
