[data-highlight="nova"] {
  --jtree-bg: #3C4C55;
  --jtree-fg: #C5D4DD;
  --jtree-attr: #83AFE5;
  --jtree-keyword: #9A93E1;
  --jtree-number: #7FC1CA;
  --jtree-punctuation: #C5D4DD;
  --jtree-string: #7FC1CA;
  --jtree-highlight: #A8CE93;
}
