[data-highlight="outrun-dark"] {
  --jtree-bg: #00002A;
  --jtree-fg: #D0D0FA;
  --jtree-attr: #66B0FF;
  --jtree-keyword: #F10596;
  --jtree-number: #FC8D28;
  --jtree-punctuation: #D0D0FA;
  --jtree-string: #59F176;
  --jtree-highlight: #F3E877;
}
