[data-highlight="papercolor-dark"] {
  --jtree-bg: #1c1c1c;
  --jtree-fg: #808080;
  --jtree-attr: #ff5faf;
  --jtree-keyword: #00afaf;
  --jtree-number: #5faf5f;
  --jtree-punctuation: #808080;
  --jtree-string: #af87d7;
  --jtree-highlight: #afd700;
}
