[data-highlight="paraiso-light"] {
  --jtree-bg: #e7e9db;
  --jtree-fg: #4f424c;
  --jtree-attr: #fec418;
  --jtree-keyword: #815ba4;
  --jtree-number: #f99b15;
  --jtree-punctuation: #4f424c;
  --jtree-string: #48b685;
  --jtree-highlight: #fec418;
}
