[data-highlight="pasque"] {
  --jtree-bg: #271C3A;
  --jtree-fg: #DEDCDF;
  --jtree-attr: #8E7DC6;
  --jtree-keyword: #953B9D;
  --jtree-number: #918889;
  --jtree-punctuation: #DEDCDF;
  --jtree-string: #C6914B;
  --jtree-highlight: #804ead;
}
