[data-highlight="pojoaque"] {
  --jtree-bg: repeat;
  --jtree-fg: #dccf8f;
  --jtree-attr: #b89859;
  --jtree-keyword: #b64926;
  --jtree-number: #468966;
  --jtree-punctuation: #dccf8f;
  --jtree-string: #468966;
  --jtree-highlight: #ffb03b;
}
