[data-highlight="porple"] {
  --jtree-bg: #292c36;
  --jtree-fg: #d8d8d8;
  --jtree-attr: #8485ce;
  --jtree-keyword: #b74989;
  --jtree-number: #d28e5d;
  --jtree-punctuation: #d8d8d8;
  --jtree-string: #95c76f;
  --jtree-highlight: #efa16b;
}
