[data-theme="qualia"] {
  --jtree-bg: #101010;
  --jtree-fg: #C0C0C0;
  --jtree-attr: #50CACD;
  --jtree-keyword: #E0AF85;
  --jtree-number: #A3B8EF;
  --jtree-punctuation: #C0C0C0;
  --jtree-string: #80C990;
  --jtree-highlight: #E6A3DC;
}
