[data-highlight="rebecca"] {
  --jtree-bg: #292a44;
  --jtree-fg: #f1eff8;
  --jtree-attr: #2de0a7;
  --jtree-keyword: #7aa5ff;
  --jtree-number: #efe4a1;
  --jtree-punctuation: #f1eff8;
  --jtree-string: #6dfedf;
  --jtree-highlight: #ae81ff;
}
