[data-highlight="sagelight"] {
  --jtree-bg: #f8f8f8;
  --jtree-fg: #383838;
  --jtree-attr: #a0a7d2;
  --jtree-keyword: #c8a0d2;
  --jtree-number: #ffaa61;
  --jtree-punctuation: #383838;
  --jtree-string: #a0d2c8;
  --jtree-highlight: #ffdc61;
}
