[data-highlight="sandcastle"] {
  --jtree-bg: #282c34;
  --jtree-fg: #a89984;
  --jtree-attr: #83a598;
  --jtree-keyword: #d75f5f;
  --jtree-number: #a07e3b;
  --jtree-punctuation: #a89984;
  --jtree-string: #528b8b;
  --jtree-highlight: #a07e3b;
}
