[data-highlight="seti-ui"] {
  --jtree-bg: #151718;
  --jtree-fg: #d6d6d6;
  --jtree-attr: #55b5db;
  --jtree-keyword: #a074c4;
  --jtree-number: #db7b55;
  --jtree-punctuation: #d6d6d6;
  --jtree-string: #9fca56;
  --jtree-highlight: #e6cd69;
}
