[data-highlight="snazzy"] {
  --jtree-bg: #282a36;
  --jtree-fg: #e2e4e5;
  --jtree-attr: #57c7ff;
  --jtree-keyword: #ff6ac1;
  --jtree-number: #ff9f43;
  --jtree-punctuation: #e2e4e5;
  --jtree-string: #5af78e;
  --jtree-highlight: #f3f99d;
}
