[data-highlight="solar-flare"] {
  --jtree-bg: #18262F;
  --jtree-fg: #A6AFB8;
  --jtree-attr: #33B5E1;
  --jtree-keyword: #A363D5;
  --jtree-number: #E66B2B;
  --jtree-punctuation: #A6AFB8;
  --jtree-string: #7CC844;
  --jtree-highlight: #E4B51C;
}
