[data-theme="spacemacs"] {
  --jtree-bg: #1f2022;
  --jtree-fg: #a3a3a3;
  --jtree-attr: #4f97d7;
  --jtree-keyword: #a31db1;
  --jtree-number: #ffa500;
  --jtree-punctuation: #a3a3a3;
  --jtree-string: #67b11d;
  --jtree-highlight: #b1951d;
}
