[data-theme="srcery"] {
  --jtree-bg: #1C1B19;
  --jtree-fg: #FCE8C3;
  --jtree-attr: #FBB829;
  --jtree-keyword: #EF2F27;
  --jtree-number: #918175;
  --jtree-punctuation: #FCE8C3;
  --jtree-string: #98BC37;
  --jtree-highlight: #FBB829;
}
