[data-highlight="summercamp"] {
  --jtree-bg: #1c1810;
  --jtree-fg: #736e55;
  --jtree-attr: #489bf0;
  --jtree-keyword: #FF8080;
  --jtree-number: #fba11b;
  --jtree-punctuation: #736e55;
  --jtree-string: #5ceb5a;
  --jtree-highlight: #f2ff27;
}
