[data-theme="sunburst"] {
  --jtree-bg: #000;
  --jtree-fg: #f8f8f8;
  --jtree-attr: #cda869;
  --jtree-keyword: #e28964;
  --jtree-number: #3387cc;
  --jtree-punctuation: #f8f8f8;
  --jtree-string: #65b042;
  --jtree-highlight: #89bdff;
}
