[data-highlight="twilight"] {
  --jtree-bg: #1e1e1e;
  --jtree-fg: #a7a7a7;
  --jtree-attr: #7587a6;
  --jtree-keyword: #9b859d;
  --jtree-number: #cda869;
  --jtree-punctuation: #a7a7a7;
  --jtree-string: #8f9d6a;
  --jtree-highlight: #f9ee98;
}
