[data-theme="unikitty-dark"] {
  --jtree-bg: #2e2a31;
  --jtree-fg: #bcbabe;
  --jtree-attr: #796af5;
  --jtree-keyword: #bb60ea;
  --jtree-number: #d65407;
  --jtree-punctuation: #bcbabe;
  --jtree-string: #17ad98;
  --jtree-highlight: #dc8a0e;
}
