[data-highlight="windows-95-light"] {
  --jtree-bg: #fcfcfc;
  --jtree-fg: #545454;
  --jtree-attr: #0000a8;
  --jtree-keyword: #a800a8;
  --jtree-number: #fcfc54;
  --jtree-punctuation: #545454;
  --jtree-string: #00a800;
  --jtree-highlight: #a85400;
}
