[data-theme="windows-nt-light"] {
  --jtree-bg: #ffffff;
  --jtree-fg: #808080;
  --jtree-attr: #000080;
  --jtree-keyword: #800080;
  --jtree-number: #ffff00;
  --jtree-punctuation: #808080;
  --jtree-string: #008000;
  --jtree-highlight: #808000;
}
