[data-highlight="windows-10-light"] {
  --jtree-bg: #f2f2f2;
  --jtree-fg: #767676;
  --jtree-attr: #0037da;
  --jtree-keyword: #881798;
  --jtree-number: #f9f1a5;
  --jtree-punctuation: #767676;
  --jtree-string: #13a10e;
  --jtree-highlight: #c19c00;
}
