[data-theme="windows-high-contrast"] {
  --jtree-bg: #000000;
  --jtree-fg: #c0c0c0;
  --jtree-attr: #5454fc;
  --jtree-keyword: #fc54fc;
  --jtree-number: #808000;
  --jtree-punctuation: #c0c0c0;
  --jtree-string: #54fc54;
  --jtree-highlight: #fcfc54;
}
