root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

# Source
[*.{css,html,ts,json}]
indent_style = space
indent_size = 2

# Scripts
[*.{py,sh}]
indent_style = space
indent_size = 4
