:root {
  --menu-bg: #444;
  --menu-border: #666;
}

@media (prefers-color-scheme: light) {
  :root {
    --menu-bg: #ddd;
    --menu-border: #bbb;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%:
}

.jsontree_wrapper {
  display: flex;
  flex-direction: column;
}

.jsontree_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 10px;
  background-color: var(--menu-bg);
  border-bottom: 1px solid var(--menu-border);
}

.jsontree_menu_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 5px;
  color: #fff;
  background-color: var(--menu-bg);
  border-radius: 4px;
}
.jsontree_menu_btn:hover {
  background-color: var(--menu-border);
  cursor: pointer;
}

.jsontree_preview {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem 0;
}
