[data-theme="1c-light.css"] {
  --jtree-bg: #ffffff;
  --jtree-fg: #0000ff;
  --jtree-attr: #000000;
  --jtree-keyword: #ff0000;
  --jtree-number: #000000;
  --jtree-punctuation: #ff0000;
  --jtree-string: #000000;
}
