[data-theme="3024"] {
  --jtree-bg: #090300;
  --jtree-fg: #a5a2a2;
  --jtree-attr: #e8bbd0;
  --jtree-keyword: #a16a94;
  --jtree-number: #e8bbd0;
  --jtree-punctuation: #a5a2a2;
  --jtree-string: #01a252;
  --jtree-highlight: #fded02;
}
