[data-theme="a11y-light.css"] {
  --jtree-bg: #fefefe;
  --jtree-fg: #545454;
  --jtree-attr: #000000;
  --jtree-keyword: #7928a1;
  --jtree-number: #aa5d00;
  --jtree-punctuation: #545454;
  --jtree-string: #008000;
}
