[data-theme="agate"] {
  --jtree-bg: #333;
  --jtree-fg: #fff;
  --jtree-attr: #7bd694;
  --jtree-keyword: #fcc28c;
  --jtree-number: #d36363;
  --jtree-punctuation: #fff;
  --jtree-string: #a2fca2;
  --jtree-highlight: #ffa;
}
