[data-theme="apprentice"] {
  --jtree-bg: #262626;
  --jtree-fg: #BCBCBC;
  --jtree-attr: #FF8700;
  --jtree-keyword: #87AFD7;
  --jtree-number: #FF8700;
  --jtree-punctuation: #BCBCBC;
  --jtree-string: #87AF87;
  --jtree-highlight: #5F8787;
}
