[data-theme="ascetic.css"] {
  --jtree-bg: white;
  --jtree-fg: black;
  --jtree-attr: #000000;
  --jtree-keyword: #000000;
  --jtree-number: #000000;
  --jtree-punctuation: black;
  --jtree-string: #888;
}
