[data-theme="atelier-seaside-light.css"] {
  --jtree-bg: #f4fbf4;
  --jtree-fg: #5e6e5e;
  --jtree-attr: #87711d;
  --jtree-keyword: #ad2bee;
  --jtree-number: #87711d;
  --jtree-punctuation: #5e6e5e;
  --jtree-string: #29a329;
}
