[data-theme="atelier-sulphurpool"] {
  --jtree-bg: #202746;
  --jtree-fg: #979db4;
  --jtree-attr: #c76b29;
  --jtree-keyword: #6679cc;
  --jtree-number: #c76b29;
  --jtree-punctuation: #979db4;
  --jtree-string: #ac9739;
  --jtree-highlight: #c08b30;
}
