[data-theme="atelier-lakeside-light"] {
  --jtree-bg: #ebf8ff;
  --jtree-fg: #516d7b;
  --jtree-attr: #935c25;
  --jtree-keyword: #6b6bb8;
  --jtree-number: #935c25;
  --jtree-punctuation: #516d7b;
  --jtree-string: #568c3b;
  --jtree-highlight: #8a8a0f;
}
