[data-theme="atelier-dune.css"] {
  --jtree-bg: #20201d;
  --jtree-fg: #a6a28c;
  --jtree-attr: #b65611;
  --jtree-keyword: #b854d4;
  --jtree-number: #b65611;
  --jtree-punctuation: #a6a28c;
  --jtree-string: #60ac39;
}
