[data-theme="atelier-plateau-light.css"] {
  --jtree-bg: #f4ecec;
  --jtree-fg: #585050;
  --jtree-attr: #b45a3c;
  --jtree-keyword: #8464c4;
  --jtree-number: #b45a3c;
  --jtree-punctuation: #585050;
  --jtree-string: #4b8b8b;
}
