[data-theme="atelier-cave-light"] {
  --jtree-bg: #efecf4;
  --jtree-fg: #585260;
  --jtree-attr: #aa573c;
  --jtree-keyword: #955ae7;
  --jtree-number: #aa573c;
  --jtree-punctuation: #585260;
  --jtree-string: #2a9292;
  --jtree-highlight: #a06e3b;
}
