[data-theme="bespin.css"] {
  --jtree-bg: #28211c;
  --jtree-fg: #8a8986;
  --jtree-attr: #cf7d34;
  --jtree-keyword: #9b859d;
  --jtree-number: #cf7d34;
  --jtree-punctuation: #8a8986;
  --jtree-string: #54be0d;
}
