[data-theme="black-metal-marduk"] {
  --jtree-bg: #000000;
  --jtree-fg: #c1c1c1;
  --jtree-attr: #aaaaaa;
  --jtree-keyword: #999999;
  --jtree-number: #aaaaaa;
  --jtree-punctuation: #c1c1c1;
  --jtree-string: #a5aaa7;
  --jtree-highlight: #626b67;
}
