[data-theme="brewer.css"] {
  --jtree-bg: #0c0d0e;
  --jtree-fg: #b7b8b9;
  --jtree-attr: #e6550d;
  --jtree-keyword: #756bb1;
  --jtree-number: #e6550d;
  --jtree-punctuation: #b7b8b9;
  --jtree-string: #31a354;
}
