[data-theme="brush-trees-dark.css"] {
  --jtree-bg: #485867;
  --jtree-fg: #B0C5C8;
  --jtree-attr: #d8bba2;
  --jtree-keyword: #b386b2;
  --jtree-number: #d8bba2;
  --jtree-punctuation: #B0C5C8;
  --jtree-string: #87b386;
}
