[data-theme="circus.css"] {
  --jtree-bg: #191919;
  --jtree-fg: #a7a7a7;
  --jtree-attr: #4bb1a7;
  --jtree-keyword: #b888e2;
  --jtree-number: #4bb1a7;
  --jtree-punctuation: #a7a7a7;
  --jtree-string: #84b97c;
}
