[data-theme="classic-dark.css"] {
  --jtree-bg: #151515;
  --jtree-fg: #D0D0D0;
  --jtree-attr: #D28445;
  --jtree-keyword: #AA759F;
  --jtree-number: #D28445;
  --jtree-punctuation: #D0D0D0;
  --jtree-string: #90A959;
}
