[data-theme="classic-light"] {
  --jtree-bg: #F5F5F5;
  --jtree-fg: #303030;
  --jtree-attr: #D28445;
  --jtree-keyword: #AA759F;
  --jtree-number: #D28445;
  --jtree-punctuation: #303030;
  --jtree-string: #90A959;
  --jtree-highlight: #F4BF75;
}
