[data-theme="cupcake.css"] {
  --jtree-bg: #fbf1f2;
  --jtree-fg: #8b8198;
  --jtree-attr: #EBB790;
  --jtree-keyword: #BB99B4;
  --jtree-number: #EBB790;
  --jtree-punctuation: #8b8198;
  --jtree-string: #A3B367;
}
