[data-theme="cybertopia-saturated.css"] {
  --jtree-bg: #ffffff;
  --jtree-fg: #000000;
  --jtree-attr: #000000;
  --jtree-keyword: #000000;
  --jtree-number: #000000;
  --jtree-punctuation: #000000;
  --jtree-string: #000000;
}
