[data-theme="danqing"] {
  --jtree-bg: #2d302f;
  --jtree-fg: #e0f0eF;
  --jtree-attr: #B38A61;
  --jtree-keyword: #CCA4E3;
  --jtree-number: #B38A61;
  --jtree-punctuation: #e0f0eF;
  --jtree-string: #8AB361;
  --jtree-highlight: #F0C239;
}
