[data-theme="decaf"] {
  --jtree-bg: #2d2d2d;
  --jtree-fg: #cccccc;
  --jtree-attr: #ffbf70;
  --jtree-keyword: #efb3f7;
  --jtree-number: #ffbf70;
  --jtree-punctuation: #cccccc;
  --jtree-string: #beda78;
  --jtree-highlight: #ffd67c;
}
