[data-theme="dirtysea.css"] {
  --jtree-bg: #e0e0e0;
  --jtree-fg: #000000;
  --jtree-attr: #006565;
  --jtree-keyword: #000090;
  --jtree-number: #006565;
  --jtree-punctuation: #000000;
  --jtree-string: #730073;
}
