[data-theme="dracula copy.css"] {
  --jtree-bg: #282936;
  --jtree-fg: #e9e9f4;
  --jtree-attr: #b45bcf;
  --jtree-keyword: #b45bcf;
  --jtree-number: #b45bcf;
  --jtree-punctuation: #e9e9f4;
  --jtree-string: #ebff87;
}
