[data-theme="edge-light.css"] {
  --jtree-bg: #fafafa;
  --jtree-fg: #5e646f;
  --jtree-attr: #db7070;
  --jtree-keyword: #b870ce;
  --jtree-number: #db7070;
  --jtree-punctuation: #5e646f;
  --jtree-string: #7c9f4b;
}
