[data-theme="equilibrium-gray-light.css"] {
  --jtree-bg: #f1f1f1;
  --jtree-fg: #474747;
  --jtree-attr: #bf3e05;
  --jtree-keyword: #4e66b6;
  --jtree-number: #bf3e05;
  --jtree-punctuation: #474747;
  --jtree-string: #637200;
}
