[data-theme="fruit-soda.css"] {
  --jtree-bg: #f1ecf1;
  --jtree-fg: #515151;
  --jtree-attr: #fe6d08;
  --jtree-keyword: #611fce;
  --jtree-number: #fe6d08;
  --jtree-punctuation: #515151;
  --jtree-string: #47f74c;
}
