[data-theme="github-dark.css"] {
  --jtree-bg: #0d1117;
  --jtree-fg: #c9d1d9;
  --jtree-attr: #79c0ff;
  --jtree-keyword: #ff7b72;
  --jtree-number: #79c0ff;
  --jtree-punctuation: #c9d1d9;
  --jtree-string: #a5d6ff;
}
