[data-theme="google-light.css"] {
  --jtree-bg: #ffffff;
  --jtree-fg: #373b41;
  --jtree-attr: #F96A38;
  --jtree-keyword: #A36AC7;
  --jtree-number: #F96A38;
  --jtree-punctuation: #373b41;
  --jtree-string: #198844;
}
