[data-theme="gradient-dark.css"] {
  --jtree-bg: #ffffff;
  --jtree-fg: #e7e4eb;
  --jtree-attr: #AEFBFF;
  --jtree-keyword: #17fc95;
  --jtree-number: #C5FE00;
  --jtree-punctuation: #e7e4eb;
  --jtree-string: #38c0ff;
}
