[data-theme="grayscale-dark.css"] {
  --jtree-bg: #101010;
  --jtree-fg: #b9b9b9;
  --jtree-attr: #999999;
  --jtree-keyword: #747474;
  --jtree-number: #999999;
  --jtree-punctuation: #b9b9b9;
  --jtree-string: #8e8e8e;
}
