[data-theme="horizon-dark.css"] {
  --jtree-bg: #1C1E26;
  --jtree-fg: #CBCED0;
  --jtree-attr: #E58D7D;
  --jtree-keyword: #B072D1;
  --jtree-number: #E58D7D;
  --jtree-punctuation: #CBCED0;
  --jtree-string: #EFAF8E;
}
