[data-theme="humanoid-dark.css"] {
  --jtree-bg: #232629;
  --jtree-fg: #f8f8f2;
  --jtree-attr: #ff9505;
  --jtree-keyword: #f15ee3;
  --jtree-number: #ff9505;
  --jtree-punctuation: #f8f8f2;
  --jtree-string: #02d849;
}
