[data-theme="ia-dark"] {
  --jtree-bg: #1a1a1a;
  --jtree-fg: #cccccc;
  --jtree-attr: #d86868;
  --jtree-keyword: #b98eb2;
  --jtree-number: #d86868;
  --jtree-punctuation: #cccccc;
  --jtree-string: #83a471;
  --jtree-highlight: #b99353;
}
