[data-theme="ir-black copy.css"] {
  --jtree-bg: #000000;
  --jtree-fg: #b5b3aa;
  --jtree-attr: #e9c062;
  --jtree-keyword: #ff73fd;
  --jtree-number: #e9c062;
  --jtree-punctuation: #b5b3aa;
  --jtree-string: #a8ff60;
}
