[data-theme="ir-black.css"] {
  --jtree-bg: #000;
  --jtree-fg: #f8f8f8;
  --jtree-attr: #000000;
  --jtree-keyword: #96cbfe;
  --jtree-number: #ff73fd;
  --jtree-punctuation: #f8f8f8;
  --jtree-string: #a8ff60;
}
