[data-theme="isbl-editor-dark"] {
  --jtree-bg: #404040;
  --jtree-fg: #f0f0f0;
  --jtree-attr: #000000;
  --jtree-keyword: #f0f0f0;
  --jtree-number: #f0f0f0;
  --jtree-punctuation: #f0f0f0;
  --jtree-string: #97bf0d;
  --jtree-highlight: #df471e;
}
