[data-theme="isotope"] {
  --jtree-bg: #000000;
  --jtree-fg: #d0d0d0;
  --jtree-attr: #ff9900;
  --jtree-keyword: #cc00ff;
  --jtree-number: #ff9900;
  --jtree-punctuation: #d0d0d0;
  --jtree-string: #33ff00;
  --jtree-highlight: #ff0099;
}
