[data-theme="lioshi"] {
  --jtree-bg: #303030;
  --jtree-fg: #c5c8c6;
  --jtree-attr: #000000;
  --jtree-keyword: #be94bb;
  --jtree-number: #de935f;
  --jtree-punctuation: #c5c8c6;
  --jtree-string: #b5bd68;
  --jtree-highlight: #81a2be;
}
