[data-theme="london-tube"] {
  --jtree-bg: #231f20;
  --jtree-fg: #d9d8d8;
  --jtree-attr: #f386a1;
  --jtree-keyword: #98005d;
  --jtree-number: #f386a1;
  --jtree-punctuation: #d9d8d8;
  --jtree-string: #00853e;
  --jtree-highlight: #ffd204;
}
