[data-theme="marrakesh.css"] {
  --jtree-bg: #201602;
  --jtree-fg: #948e48;
  --jtree-attr: #b36144;
  --jtree-keyword: #8868b3;
  --jtree-number: #b36144;
  --jtree-punctuation: #948e48;
  --jtree-string: #18974e;
}
