[data-theme="material-vivid"] {
  --jtree-bg: #202124;
  --jtree-fg: #80868b;
  --jtree-attr: #ff9800;
  --jtree-keyword: #673ab7;
  --jtree-number: #ff9800;
  --jtree-punctuation: #80868b;
  --jtree-string: #00e676;
  --jtree-highlight: #ffeb3b;
}
