[data-theme="monokai copy.css"] {
  --jtree-bg: #272822;
  --jtree-fg: #ddd;
  --jtree-attr: #bf79db;
  --jtree-keyword: #f92672;
  --jtree-number: #f92672;
  --jtree-punctuation: #ddd;
  --jtree-string: #a6e22e;
}
