[data-theme="night-owl.css"] {
  --jtree-bg: #011627;
  --jtree-fg: #d6deeb;
  --jtree-attr: #7fdbca;
  --jtree-keyword: #c792ea;
  --jtree-number: #F78C6C;
  --jtree-punctuation: #d6deeb;
  --jtree-string: #ecc48d;
}
