[data-theme="nnfx-light"] {
  --jtree-bg: #fff;
  --jtree-fg: #000;
  --jtree-attr: #000;
  --jtree-keyword: #808;
  --jtree-number: #00f;
  --jtree-punctuation: #000;
  --jtree-string: #00f;
  --jtree-highlight: #f40;
}
