[data-theme="oceanicnext"] {
  --jtree-bg: #1B2B34;
  --jtree-fg: #C0C5CE;
  --jtree-attr: #F99157;
  --jtree-keyword: #C594C5;
  --jtree-number: #F99157;
  --jtree-punctuation: #C0C5CE;
  --jtree-string: #99C794;
  --jtree-highlight: #FAC863;
}
