[data-theme="paraiso.css"] {
  --jtree-bg: #2f1e2e;
  --jtree-fg: #a39e9b;
  --jtree-attr: #f99b15;
  --jtree-keyword: #815ba4;
  --jtree-number: #f99b15;
  --jtree-punctuation: #a39e9b;
  --jtree-string: #48b685;
}
