[data-theme="paraiso-light.css"] {
  --jtree-bg: #e7e9db;
  --jtree-fg: #4f424c;
  --jtree-attr: #000000;
  --jtree-keyword: #815ba4;
  --jtree-number: #f99b15;
  --jtree-punctuation: #4f424c;
  --jtree-string: #48b685;
}
