[data-theme="pico"] {
  --jtree-bg: #000000;
  --jtree-fg: #5f574f;
  --jtree-attr: #ffa300;
  --jtree-keyword: #ff77a8;
  --jtree-number: #ffa300;
  --jtree-punctuation: #5f574f;
  --jtree-string: #00e756;
  --jtree-highlight: #fff024;
}
