[data-theme="purebasic.css"] {
  --jtree-bg: #FFFFDF;
  --jtree-fg: #000000;
  --jtree-attr: #000000;
  --jtree-keyword: #006666;
  --jtree-number: #000000;
  --jtree-punctuation: #000000;
  --jtree-string: #0080FF;
}
