[data-theme="rainbow.css"] {
  --jtree-bg: #474949;
  --jtree-fg: #d1d9e1;
  --jtree-attr: #81a2be;
  --jtree-keyword: #cc99cc;
  --jtree-number: #f99157;
  --jtree-punctuation: #d1d9e1;
  --jtree-string: #8abeb7;
}
