[data-theme="ros-pine.css"] {
  --jtree-bg: #191724;
  --jtree-fg: #e0def4;
  --jtree-attr: #eb6f92;
  --jtree-keyword: #c4a7e7;
  --jtree-number: #eb6f92;
  --jtree-punctuation: #e0def4;
  --jtree-string: #ebbcba;
}
