[data-theme="rose-pine-moon"] {
  --jtree-bg: #232136;
  --jtree-fg: #6e6a86;
  --jtree-attr: #c4a7e7;
  --jtree-keyword: #c4a7e7;
  --jtree-number: #ea9a97;
  --jtree-punctuation: #6e6a86;
  --jtree-string: #3e8fb0;
  --jtree-highlight: #9ccfd8;
}
