[data-theme="sandcastle.css"] {
  --jtree-bg: #282c34;
  --jtree-fg: #a89984;
  --jtree-attr: #a07e3b;
  --jtree-keyword: #d75f5f;
  --jtree-number: #a07e3b;
  --jtree-punctuation: #a89984;
  --jtree-string: #528b8b;
}
