[data-theme="school-book.css"] {
  --jtree-bg: #f6f5b2;
  --jtree-fg: #3e5915;
  --jtree-attr: #000000;
  --jtree-keyword: #005599;
  --jtree-number: #000000;
  --jtree-punctuation: #3e5915;
  --jtree-string: #2c009f;
}
