[data-theme="seti-ui.css"] {
  --jtree-bg: #151718;
  --jtree-fg: #d6d6d6;
  --jtree-attr: #db7b55;
  --jtree-keyword: #a074c4;
  --jtree-number: #db7b55;
  --jtree-punctuation: #d6d6d6;
  --jtree-string: #9fca56;
}
