[data-theme="shades-of-purple.css"] {
  --jtree-bg: #2d2b57;
  --jtree-fg: #e3dfff;
  --jtree-attr: #f8d000;
  --jtree-keyword: #fb9e00;
  --jtree-number: #fa658d;
  --jtree-punctuation: #e3dfff;
  --jtree-string: #4cd213;
}
