[data-theme="tango.css"] {
  --jtree-bg: #2e3436;
  --jtree-fg: #d3d7cf;
  --jtree-attr: #ef2929;
  --jtree-keyword: #75507b;
  --jtree-number: #ef2929;
  --jtree-punctuation: #d3d7cf;
  --jtree-string: #4e9a06;
}
