[data-theme="tender"] {
  --jtree-bg: #282828;
  --jtree-fg: #eeeeee;
  --jtree-attr: #dc9656;
  --jtree-keyword: #d3b987;
  --jtree-number: #dc9656;
  --jtree-punctuation: #eeeeee;
  --jtree-string: #c9d05c;
  --jtree-highlight: #ffc24b;
}
