[data-theme="tomorrow-night-blue.css"] {
  --jtree-bg: #002451;
  --jtree-fg: white;
  --jtree-attr: #000000;
  --jtree-keyword: #ebbbff;
  --jtree-number: #ffc58f;
  --jtree-punctuation: white;
  --jtree-string: #d1f1a9;
}
