[data-theme="unikitty-light"] {
  --jtree-bg: #ffffff;
  --jtree-fg: #6c696e;
  --jtree-attr: #d65407;
  --jtree-keyword: #aa17e6;
  --jtree-number: #d65407;
  --jtree-punctuation: #6c696e;
  --jtree-string: #17ad98;
  --jtree-highlight: #dc8a0e;
}
