[data-theme="windows-10.css"] {
  --jtree-bg: #0c0c0c;
  --jtree-fg: #cccccc;
  --jtree-attr: #c19c00;
  --jtree-keyword: #b4009e;
  --jtree-number: #c19c00;
  --jtree-punctuation: #cccccc;
  --jtree-string: #16c60c;
}
