[data-theme="windows-nt-light.css"] {
  --jtree-bg: #ffffff;
  --jtree-fg: #808080;
  --jtree-attr: #ffff00;
  --jtree-keyword: #800080;
  --jtree-number: #ffff00;
  --jtree-punctuation: #808080;
  --jtree-string: #008000;
}
