[data-theme="xcode"] {
  --jtree-bg: #fff;
  --jtree-fg: black;
  --jtree-attr: #836C28;
  --jtree-keyword: #aa0d91;
  --jtree-number: #1c00cf;
  --jtree-punctuation: black;
  --jtree-string: #c41a16;
  --jtree-highlight: #1c00cf;
}
