[data-theme="xt256.css"] {
  --jtree-bg: #000;
  --jtree-fg: #eaeaea;
  --jtree-attr: #000000;
  --jtree-keyword: #fff000;
  --jtree-number: bolder;
  --jtree-punctuation: #eaeaea;
  --jtree-string: #00ff00;
}
