:root,
[data-theme="dark"] {
  --background-color: #222;
  --text-color: #fff;
  --menu-bg: #444;
  --menu-text: #ddd;
  --btn-border: #666;
  --btn-hover: #555;
}

[data-theme="light"] {
  --background-color: #fff;
  --text-color: #000;
  --menu-bg: #f0f0f0;
  --menu-text: #333;
  --btn-border: #ccc;
  --btn-hover: #fff;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff;
    --text-color: #000;
    --menu-bg: #f0f0f0;
    --menu-text: #333;
    --btn-border: #ccc;
    --btn-hover: #fff;
  }
}

.json-explorer-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--menu-bg);
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  ul {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
  }

  button {
    background: none;
    border: thin solid var(--btn-border);
    color: var(--menu-text);
    font-size: 16px;
    cursor: pointer;
    padding: 0.33rem 0.67rem;

    &:hover {
      background: var(--btn-hover);
    }
  }
}

/* Switch styles */
.json-explorer-switch {
  position: relative;
  display: inline-block;
  height: 1.25rem;
  aspect-ratio: 16 / 9;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked {
      & + .json-explorer-slider {
        background-color: var(--btn-border);

        &:before {
          background-color: var(--menu-bg); /* Dark mode color */
          transform: translateX(100%);
        }
      }
    }
  }

  /* The slider */
  .json-explorer-slider {
    position: absolute;
    cursor: pointer;
    inset: 0; /* Shorthand for top, right, bottom, left */
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 2rem; /* Ensures rounded edges scale */

    /* The knob */
    &:before {
      position: absolute;
      content: "";
      height: 80%;
      aspect-ratio: 1 / 1; /* Ensures it remains round */
      left: 5%;
      top: 10%;
      background-color: var(--menu-bg); /* Light mode color */
      transition: 0.4s;
      border-radius: 50%;
    }
  }
}
