@import "reset.css";
@import "jsonTree.css";

/* Themes */
@import "themes/chalk.css";
@import "themes/dracula.css";
@import "themes/github.css";
@import "themes/monokai.css";
@import "themes/obsidian.css";
@import "themes/unikitty-dark.css";

:root {
  --menu-bg: #444;
  --menu-border: #666;
  --source-color: #fff;
}

@media (prefers-color-scheme: light) {
  :root {
    --menu-bg: #ddd;
    --menu-border: #bbb;
    --source-color: #000;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.jsontree_wrapper {
  display: flex;
  flex-direction: column;
}

.jsontree_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  background-color: var(--menu-bg);
  border-bottom: 1px solid var(--menu-border);
}

.jsontree_menu_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 5px;
  color: #fff;
  background-color: var(--menu-bg);
  border-radius: 4px;
}
.jsontree_menu_btn:hover {
  background-color: var(--menu-border);
  cursor: pointer;
}

.jsontree_viewport {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.jsontree_view[data-view="preview"] {
  position: absolute;
  display: none;
  flex-direction: column;
  flex: 1;
  padding: 1rem 0;
}

.jsontree_view[data-view="source"] {
  position: absolute;
  display: none;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
  color: var(--source-color);
  font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Liberation Mono",
    Menlo, Monaco, Consolas, monospace;
  font-size: 0.8rem;
}

.jsontree_view.jsontree_view-active {
  display: flex;
}
