@import "jsonTree.css";
@import "common.css";

/* Themes */
@import "themes/chalk.css";
@import "themes/dracula.css";
@import "themes/github.css";
@import "themes/monokai.css";
@import "themes/obsidian.css";
@import "themes/unikitty-dark.css";

.json-explorer {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s;
}

.json-explorer_viewport {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.json-explorer_view[data-view="preview"] {
  position: absolute;
  display: none;
  flex-direction: column;
  flex: 1;
  padding: 1rem 0;
}

.json-explorer_view[data-view="source"] {
  position: absolute;
  display: none;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
  color: var(--source-color);
  font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Liberation Mono",
    Menlo, Monaco, Consolas, monospace;
  font-size: 0.8rem;
  background: var(--background-color);
  width: 100%;
}

.json-explorer_view.json-explorer_view-active {
  display: flex;
}
