:root {
  --jtree-bg: #ffffff;
  --jtree-fg: #24292e;
  --jtree-attr: #005cc5;
  --jtree-keyword: #d73a49;
  --jtree-number: #005cc5;
  --jtree-punctuation: #24292e;
  --jtree-string: #032f62;
  --jtree-highlight: #fff2aa;
}

.clear {
  clear: both;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* Background for the tree. May use for <body> element */
.json-explorer.json-tree_bg {
  background: var(--jtree-bg);
  margin: 0;
  padding: 0;
}

/* Styles for the container of the tree (e.g. fonts, margins etc.) */
.json-tree_tree {
  font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Liberation Mono",
    Menlo, Monaco, Consolas, monospace;
  font-size: 0.7rem;
  line-height: 1.5;
  margin: 0;
  margin-left: 1rem;
  padding: 0;
}

.json-tree_tree * {
  margin: 0;
  padding: 0;
}

.json-tree_tree,
.json-tree_tree ul {
  list-style: none;
}

.json-tree_symbol {
  color: var(--jtree-punctuation);
}

/* Styles for a list of child nodes */
.json-tree_child-nodes {
  display: none;
  margin-left: 1rem;
}
.json-tree_node_expanded
  > .json-tree_value-wrapper
  > .json-tree_value
  > .json-tree_child-nodes {
  display: block;
}

/* Styles for labels */
.json-tree_label-wrapper {
  float: left;
  margin-right: 8px;
}
.json-tree_label {
  font-weight: normal;
  vertical-align: top;
  color: var(--jtree-attr);
  position: relative;
  padding: 1px;
  border-radius: 4px;
  cursor: default;
}
.json-tree_node_marked > .json-tree_label-wrapper > .json-tree_label {
  background: var(--jtree-highlight);
}

/* Styles for values */
.json-tree_value-wrapper {
  display: block;
  overflow: hidden;
}
.json-tree_node_complex > .json-tree_value-wrapper {
  overflow: inherit;
}
.json-tree_value {
  vertical-align: top;
  display: inline;
}
.json-tree_value_null {
  color: var(--jtree-keyword);
  font-weight: bold;
}
.json-tree_value_string {
  color: var(--jtree-string);
  font-weight: bold;
}
.json-tree_value_number {
  color: var(--jtree-number);
  font-weight: bold;
}
.json-tree_value_boolean {
  color: var(--jtree-keyword);
  font-weight: bold;
}

/* Styles for active elements */
.json-tree_expand-button {
  position: absolute;
  top: 2px;
  left: -15px;
  display: block;
  width: 11px;
  height: 11px;
  background-image: url("images/icons_dark.svg");
}
.json-tree_node_expanded
  > .json-tree_label-wrapper
  > .json-tree_label
  > .json-tree_expand-button {
  background-position: 0 -11px;
}
.json-tree_show-more {
  cursor: pointer;
  color: var(--jtree-keyword);
}
.json-tree_node_expanded
  > .json-tree_value-wrapper
  > .json-tree_value
  > .json-tree_show-more {
  display: none;
}
.json-tree_node_empty
  > .json-tree_label-wrapper
  > .json-tree_label
  > .json-tree_expand-button,
.json-tree_node_empty
  > .json-tree_value-wrapper
  > .json-tree_value
  > .json-tree_show-more {
  display: none !important;
}
.json-tree_node_complex > .json-tree_label-wrapper > .json-tree_label {
  cursor: pointer;
}
.json-tree_node_empty > .json-tree_label-wrapper > .json-tree_label {
  cursor: default !important;
}
