@import "common.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
  min-width: 240px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}
